body {
    width: auto;
}

.titulo {
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
}

.titulo .voltar {
    text-decoration: none;
}

.titulo h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

.titulo img {
    width: 50%;
    height: 50%;

}